@import './default.tablet.css';
@import './default.mobile.css';
/* IMPORTANT - YOU HAVE TO SAVE THE COMPONENT, CONTAINER OR VIEW CSS FILE */
/* IN ORDER TO THE PRE-COMPILLER MERGE THE THEME STYLING */

/* Variables goes inside root, classes definition inside .default */
:root {
	--computer-default-font: Roboto;
	--computer-default-font-thin: RobotoThin;
	--computer-default-font-light: RobotoLight;
	--computer-default-font-medium: RobotoMedium;
	--computer-default-font-bold: RobotoBold;
	--computer-default-font-black: RobotoBlack;
	--computer-default-font-size-xs-1: 35px;
	--computer-default-font-size-xs-2: 16px;
	--computer-default-font-size-xs-3: 12px;

	--computer-default-font-size-sm-1: 45px;
	--computer-default-font-size-sm-2: 20px;
	--computer-default-font-size-sm-3: 15px;

	--computer-default-font-size-md-1: 50px;
	--computer-default-font-size-md-2: 24px;
	--computer-default-font-size-md-3: 17px;

	--computer-default-font-size-lg-1: 60px;
	--computer-default-font-size-lg-2: 30px;
	--computer-default-font-size-lg-3: 19px;

	--computer-default-font-size-xl-1: 70px;
	--computer-default-font-size-xl-2: 34px;
	--computer-default-font-size-xl-3: 21px;

	--computer-default-text-color-1: #333;
	--computer-default-text-color-2: #777;
	--computer-default-text-color-3: #CCC;
	--computer-default-text-color-4: #E3E3E3;
	--computer-default-text-color-5: #1BA39C;
	--computer-default-text-color-6: #F5AB35;
	--computer-default-text-color-7: #C0392B;

	/* UIKIT VARIABLES */
	--computer-default-title-color-enabled: var(--computer-default-text-color-1);
	--computer-default-title-color-disabled: var(--computer-default-text-color-3);
	--computer-default-title-color-success: var(--computer-default-text-color-5);
	--computer-default-title-color-warning: var(--computer-default-text-color-6);
	--computer-default-title-color-error: var(--computer-default-text-color-7);

	--computer-default-subtitle-color-enabled: var(--computer-default-text-color-2);
	--computer-default-subtitle-color-disabled: var(--computer-default-text-color-3);
	--computer-default-subtitle-color-success: var(--computer-default-text-color-5);
	--computer-default-subtitle-color-warning: var(--computer-default-text-color-6);
	--computer-default-subtitle-color-error: var(--computer-default-text-color-7);

	--computer-default-glyph-color-enabled: var(--computer-default-text-color-1);
	--computer-default-glyph-color-disabled: var(--computer-default-text-color-3);
	--computer-default-glyph-color-success: var(--computer-default-text-color-5);
	--computer-default-glyph-color-warning: var(--computer-default-text-color-6);
	--computer-default-glyph-color-error: var(--computer-default-text-color-7);

	--computer-default-divider-color-enabled: var(--computer-default-text-color-4);
	--computer-default-divider-color-disabled: var(--computer-default-text-color-4);
	--computer-default-divider-color-success: var(--computer-default-text-color-5);
	--computer-default-divider-color-warning: var(--computer-default-text-color-6);
	--computer-default-divider-color-error: var(--computer-default-text-color-7);

	--computer-default-border-color-divider: var(--computer-default-text-color-3);
	--computer-default-border-color-divider-disabled: var(--computer-default-text-color-4);

	--computer-default-label-color-enabled: var(--computer-default-text-color-1);
	--computer-default-label-color-disabled: var(--computer-default-text-color-3);
	--computer-default-label-color-success: var(--computer-default-text-color-5);
	--computer-default-label-color-warning: var(--computer-default-text-color-6);
	--computer-default-label-color-error: var(--computer-default-text-color-7);
}

/* DEVICE: COMPUTER */
/* UIKIT VIEW */
.default.computer {
	&.homepage {
		background-color: #EEE;

		& .stage {
			background-color: white;
		}
	}
}

/* UIKIT COMPONENTS */
/* ATOMS */
/* ATOM: TITLE */
.default.title {
	&.computer {
		font-family: var(--computer-default-font-bold);

		& .enabled {
			color: var(--computer-default-title-color-enabled);
		}

		& .disabled {
			color: var(--computer-default-title-color-disabled);
		}

		& .success {
			color: var(--computer-default-title-color-success);
		}

		& .warning {
			color: var(--computer-default-title-color-warning);
		}

		& .error {
			color: var(--computer-default-title-color-error);
		}

		& .xs {
			font-size: var(--computer-default-font-size-xs-2);
			font-weight: 700;
		}

		& .sm {
			font-size: var(--computer-default-font-size-sm-2);
			font-weight: 700;
		}

		& .md {
			font-size: var(--computer-default-font-size-md-2);
			font-weight: 700;
		}

		& .lg {
			font-size: var(--computer-default-font-size-lg-2);
			font-weight: 700;
		}

		& .xl {
			font-size: var(--computer-default-font-size-xl-2);
			font-weight: 700;
		}
	}
}

/* ATOM: SUBTITLE */
.default.subtitle {
	&.computer {
		font-family: var(--computer-default-font);

		& .enabled {
			color: var(--computer-default-subtitle-color-enabled);
		}

		& .disabled {
			color: var(--computer-default-subtitle-color-disabled);
		}

		& .success {
			color: var(--computer-default-subtitle-color-success);
		}

		& .warning {
			color: var(--computer-default-subtitle-color-warning);
		}

		& .error {
			color: var(--computer-default-subtitle-color-error);
		}

		& .xs {
			font-size: var(--computer-default-font-size-xs-3);
		}

		& .sm {
			font-size: var(--computer-default-font-size-sm-3);
		}

		& .md {
			font-size: var(--computer-default-font-size-md-3);
		}

		& .lg {
			font-size: var(--computer-default-font-size-lg-3);
		}

		& .xl {
			font-size: var(--computer-default-font-size-xl-3);
		}
	}
}

/* ATOM: GLYPH */
.default.glyphContainer {
	&.computer {
		& .enabled {
			color: var(--computer-default-glyph-color-enabled);
		}

		& .disabled {
			color: var(--computer-default-glyph-color-disabled);
		}

		& .success {
			color: var(--computer-default-glyph-color-success);
		}

		& .warning {
			color: var(--computer-default-glyph-color-warning);
		}

		& .error {
			color: var(--computer-default-glyph-color-error);
		}

		& .xs {
			font-size: var(--computer-default-font-size-xs-1);
		}

		& .sm {
			font-size: var(--computer-default-font-size-sm-1);
		}

		& .md {
			font-size: var(--computer-default-font-size-md-1);
		}

		& .lg {
			font-size: var(--computer-default-font-size-lg-1);
		}

		& .xl {
			font-size: var(--computer-default-font-size-xl-1);
		}
	}
}

/* ATOM: DIVIDER */
.default.divider {
	&.computer {
		& .content {
			&.enabled {
				border-color: var(--computer-default-divider-color-enabled);
			}

			&.disabled {
				border-color: var(--computer-default-divider-color-disabled);
			}

			&.success {
				border-color: var(--computer-default-divider-color-success);
			}

			&.warning {
				border-color: var(--computer-default-divider-color-warning);
			}

			&.error {
				border-color: var(--computer-default-divider-color-error);
			}
		}

		& .xs {
			border-width: 0;
			border-top-width: 1px;
		}

		& .sm {
			border-width: 0;
			border-top-width: 2px;
		}

		& .md {
			border-width: 0;
			border-top-width: 3px;
		}

		& .lg {
			border-width: 0;
			border-top-width: 4px;
		}

		& .xl {
			border-width: 0;
			border-top-width: 5px;
		}
	}
}

/* ATOM: LABEL */
.default.label {
	&.computer {
		font-family: var(--computer-default-font-medium);

		& .enabled {
			color: var(--computer-default-label-color-enabled);
		}

		& .disabled {
			color: var(--computer-default-label-color-disabled);
		}

		& .success {
			color: var(--computer-default-label-color-success);
		}

		& .warning {
			color: var(--computer-default-label-color-warning);
		}

		& .error {
			color: var(--computer-default-label-color-error);
		}

		& .xs {
			font-size: var(--computer-default-font-size-xs-3);
		}

		& .sm {
			font-size: var(--computer-default-font-size-sm-3);
		}

		& .md {
			font-size: var(--computer-default-font-size-md-3);
		}

		& .lg {
			font-size: var(--computer-default-font-size-lg-3);
		}

		& .xl {
			font-size: var(--computer-default-font-size-xl-3);
		}
	}
}
