@import '../../styles/themesManager.css';

.glyphContainer {
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;

	& .glyph {

		/* ALIGNMENT */
		&.left {
			text-align: left;
		}

		&.center {
			text-align: center;
		}

		&.right {
			text-align: right;
		}

		&.justify {
			text-align: justify;
		}
	}
}
