@import '../../styles/themesManager.css';

.glyph {
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;

	& .content {
		/* line-height: initial; */

		/* ALIGNMENT */
		&.left {
			text-align: left;
		}

		&.center {
			text-align: center;
		}

		&.right {
			text-align: right;
		}

		&.justify {
			text-align: justify;
		}
	}
}
