@import '../../styles/themesManager.css';

.subtitleContainer {
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;

	& .subtitle {
		/* USER SELECTABLE */
		&.unselectable {
			user-select: none;
			cursor: default;
		}

		&.selectable {
			user-select: text;
			cursor: text;
		}

		/* ALIGNMENT */
		&.left {
			text-align: left;
		}

		&.center {
			text-align: center;
		}

		&.right {
			text-align: right;
		}

		&.justify {
			text-align: justify;
		}
	}
}
