@import '../../styles/themesManager.css';

.dividerContainer {
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 5px;

	& .divider {
		cursor: default;
	}
}
