@import './attention_seekers/index.css';
@import './bouncing_entrances/index.css';
@import './bouncing_exits/index.css';
@import './fading_entrances/index.css';
@import './fading_exits/index.css';
@import './flippers/index.css';
@import './lightspeed/index.css';
@import './rotating_entrances/index.css';
@import './rotating_exits/index.css';
@import './sliding_entrances/index.css';
@import './sliding_exits/index.css';
@import './specials/index.css';
@import './zooming_entrances/index.css';
@import './zooming_exits/index.css';


.animated {
	animation-fill-mode: both;

	&.infinite {
		animation-iteration-count: infinite;
	}

	&.veryshort {
		animation-duration: 0.5s;
	}

	&.short {
		animation-duration: 1s;
	}

	&.medium {
		animation-duration: 1.5s;
	}

	&.long {
		animation-duration: 2s;
	}

	&.verylong {
		animation-duration: 2.5s;
	}
}
