@import '../../styles/themesManager.css';

.header {
	& .rightFlexWrapper,
	& .leftFlexWrapper {
		display: flex;

		& .glyphContainer {
			flex-grow: 0;
			line-height: 1;
			padding-top: 5px;
		}

		& .contentContainer {
			flex-grow: 1;
			display: flex;
			flex-wrap: wrap;

			&.xs,
			&.sm,
			&.md {
				padding-left: 10px;
				padding-right: 10px;
			}

			&.lg {
				padding-left: 15px;
				padding-right: 15px;
			}

			&.xl {
				padding-left: 20px;
				padding-right: 20px;
			}

			& .titleContainer {
				align-self: center;
				line-height: 1.2;
				width: 100%;
			}

			& .subtitleContainer {
				line-height: 1;
				width: 100%;
			}
		}

		& .dividerContainer {
			display: block;
			width: 100%;
		}
	}

	& .centerFlexWrapper {
		display: flex;
		flex-direction: column;

		& .glyphContainer {
			flex-grow: 0;
			line-height: 1;
			padding-top: 5px;
		}

		& .titleContainer {
			align-self: center;
			line-height: 1.5;
			width: 100%;
		}

		& .subtitleContainer {
			line-height: 1;
			width: 100%;
		}

		& .dividerContainer {
			margin-top: 10px;
		}
	}
}
