@import '../../styles/themesManager.css';

.labeleddividerContainer {
	display: flex;
	flex-flow: nowrap row;
	align-items: center;

	& .leftWrapper {
		flex-grow: 1;
		display: flex;
	}

	& .centralWrapper {
		display: flex;
		padding-left: 10px;
		padding-right: 10px;
	}

	& .rightWrapper {
		flex-grow: 1;
		display: flex;
	}
}
